<!-- /partials/site-nav.liquid -->
{%- liquid
  assign header_icons_as_text = section.settings.header_icons_as_text
  assign highlight_item_color = section.settings.highlight_item_color
  assign secondary_menu = section.settings.main_menu_secondary
  assign summary_classes = 'navlink navlink--icon'

  assign link_hover_dot = false
  if section.settings.link_hover_effect == 'dot'
    assign link_hover_dot = true

    if header_icons_as_text
      assign summary_classes = summary_classes | append: ' navlink--dot'
    endif
  endif

  capture style
    if highlight_item_color != 'rgba(0,0,0,0)' and highlight_item_color != ''
      echo '--highlight: ' | append: highlight_item_color | append: ';'
    endif
  endcapture

  capture cart_icon
    case settings.cart_icon
      when 'bag'
        render 'icon-shopping-bag'
      when 'shopping_cart'
        render 'icon-shopping-cart'
    endcase
  endcapture
-%}

<nav id="NavStandard" class="nav nav--default{% if settings.nav_caps_letter_spacing %} caps-letter-spacing-nav{% else %} letter-spacing-nav{% endif %}" data-nav{% if style != '' %} style="{{ style }}"{% endif %}>
  <div class="menu__item menu__item--compress" data-nav-items-compress>
    {%- if settings.show_header_search -%}
      {%- render 'search-popdown', unique: 'desktop-compress', in_header: true, classes: 'menu__item menu__item--icon', summary_classes: summary_classes -%}
    {%- endif -%}

    <div class="menu__item menu__item--icon">
      <a href="{{ routes.cart_url }}" class="navlink navlink--icon cart__toggle cart__toggle{% if cart.item_count > 0 %} cart__toggle--has-items{% endif %}{% if cart_animation %} cart__toggle--animation{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}{% if link_hover_dot %} navlink--dot{% endif %}" aria-controls="cart-drawer" aria-expanded="false"{% unless template.name == 'cart' or settings.cart_type == 'page' %} data-cart-drawer-toggle{% endunless %}>
        <span class="visually-hidden">{{ 'general.accessibility.open_cart' | t }}</span>
        {{ cart_icon }}
      </a>
    </div>
  </div>

  <div class="menu__items" data-takes-space>
    {%- for link in linklists[section.settings.main-menu].links -%}
      {%- render 'nav-item', link: link, index: forloop.index, link_hover_dot: link_hover_dot -%}
    {%- endfor -%}
  </div>

  <div class="menu__item menu__item--icons{% if header_icons_as_text %} menu__item--texts{% endif %}{% if secondary_menu != blank %} menu__item--secondary{% endif %}" data-nav-icons data-takes-space>
    {%- if secondary_menu != blank -%}
      <div class="menu__items menu__items--secondary">
        {%- for link in linklists[secondary_menu].links limit: 4 -%}
          {%- render 'nav-item', link: link, section: section, index: forloop.index, link_hover_dot: link_hover_dot, nav_secondary: true -%}
        {%- endfor -%}
      </div>
    {%- endif -%}

    {%- if settings.show_header_search -%}
      {%- render 'search-popdown', unique: 'desktop', in_header: true, classes: 'menu__item menu__item--icon', summary_classes: summary_classes, header_icons_as_text: header_icons_as_text -%}
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
      <div class="menu__item menu__item--icon">
        <a href="{{ routes.account_url }}" class="navlink navlink--icon{% if settings.nav_caps_toplevel %} caps{% endif %}{% if link_hover_dot %} navlink--dot{% endif %}">
          <span class="visually-hidden">{{ 'general.accessibility.my_account' | t }}</span>
          {%- if header_icons_as_text -%}
            <span class="navtext">{{ 'layout.customer.account' | t }}</span>
          {%- else -%}
            {%- render 'icon-user' -%}
          {%- endif -%}
        </a>
      </div>
    {%- endif -%}

    <div class="menu__item menu__item--icon">
      <a href="{{ routes.cart_url }}" class="navlink navlink--icon cart__toggle{% if cart.item_count > 0 %} cart__toggle--has-items{% endif %}{% if cart_animation %} cart__toggle--animation{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}{% if link_hover_dot %} navlink--dot{% endif %}" aria-controls="cart-drawer" aria-expanded="false"{% unless template.name == 'cart' or settings.cart_type == 'page' %} data-cart-drawer-toggle{% endunless %}>
        <span class="visually-hidden">{{ 'general.accessibility.open_cart' | t }}</span>
        {%- if header_icons_as_text -%}
          <span class="navtext">{{ 'layout.cart.title' | t }}</span>
        {%- else -%}
          {{ cart_icon }}
        {%- endif -%}
      </a>
    </div>
  </div>
</nav>

<div class="mobile-menu" data-mobile-menu>
  {%- if settings.show_header_search -%}
    {%- render 'search-popdown', unique: 'mobile', in_header: true, classes: 'mobile-menu__button caps' -%}
  {%- endif -%}

  <a href="{{ routes.cart_url }}"
    class="mobile-menu__button cart__toggle{% if cart.item_count > 0 %} cart__toggle--has-items{% endif %}{% if cart_animation %} cart__toggle--animation{% endif %}"
    aria-controls="cart-drawer"
    aria-expanded="false"
    {% unless template.name == 'cart' or settings.cart_type == 'page' %}
      data-cart-drawer-toggle
    {% endunless %}
  >
    <span class="visually-hidden">{{ 'general.accessibility.open_cart' | t }}</span>
    {{ cart_icon }}
  </a>
</div>